* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 13%;
    background: #fff ;
}

h1 {
    color: rgb(63, 0, 172)42b;
    font-size: 10vw;
    margin-bottom: 0.5vw;
}

p {
    color: #21242b;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 4vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
    width: 100%;
}

.container .bx {
    border-radius: 10px;
    height: 14.25rem;
    background:#21242b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #1f09c8;
}

.container .bx .caption {
    color: #b2b5ba ;
}

.container .bx .counter {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
}
